.main {
  display: flex;
}

.buttons {
  flex-direction: column;
}
.group {
  display: flex;
}

.title {
  padding: 10px;
}
.btn {
  margin-bottom: 10px;
}
select {
  width: auto;
}
.nav-buttons {
  justify-content: flex-end;
  button,
  form {
    margin-right: 20px;
  }
}
