<nav class="navbar navbar-dark bg-light">
  <div class="container nav-buttons">
    <div class="col-4">
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="addLegoCard()"
      >
        Add Lego Card
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="flushLego()"
      >
        Flush
      </button>
    </div>
    <div class="col-4 test" [formGroup]="switchedStateForm">
      <span>Operator</span>
      <select
        id="select"
        class="custom-select form-control form-control-sm"
        formControlName="select"
        #select
      >
        <option [selected]="true" [value]="'default'">
          {{ 'default' }}
        </option>
        <option
          *ngFor="let operator of operators; let i = index"
          [value]="operator"
        >
          {{ operator }}
        </option>
      </select>
    </div>
    <div class="col-4">
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="addHumanCard()"
      >
        Add Human Card
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="flushHuman()"
      >
        Flush
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <app-id-card-column
      class="col-4"
      [cards$]="legoCards$"
      [description]="legoDescription"
    ></app-id-card-column>
    <app-id-card-column
      class="col-4"
      [cards$]="pipedCards$"
      (onSwitch)="switchPiped($event)"
      [description]="operatorsDescriptions[select.value]"
    ></app-id-card-column>
    <app-id-card-column
      class="col-4"
      [cards$]="humanCards$"
      [description]="humanDescription"
    ></app-id-card-column>
  </div>
</div>
