.btn {
  margin-bottom: 10px;
}
select {
  width: auto;
  margin-left: 10px;
}

.column {
  border: solid #f8f9fa;
  border-radius: 3px;
  padding: 10px;
  min-height: 615px;
  background-color: white;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
