.buttons {
  justify-content: flex-end;
  button {
    margin-right: 20px;
  }
}
.navbar {
  justify-content: flex-start;
  padding-left: 20px;
}
.navbar-nav {
  flex-direction: row;
  padding-left: 2rem;
  li {
    margin-left: 20px;
  }
}
.main-nav {
  border-bottom: solid 5px #fedf01;
}
