.column {
  border: solid #f8f9fa;
  border-radius: 3px;
  padding: 10px;
  max-width: 550px;
  min-height: 615px;
  background-color: white;
}
.card {
  max-height: 250px;
  flex-direction: row;
}
.test {
  float: left;
  width: auto;
}

.btn-outline-primary {
  color: #006ac3;
  border-color: #006ac3;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #006ac3;
  border-color: #006ac3;
}
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.5rem;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
