<div class="column">
  <div class="title">
    <h4>
      {{ description.name }}
      <span class="badge rounded-pill bg-primary text-light">
        {{ cards.length }}</span
      >
    </h4>
    <div
      class="custom-control custom-switch"
      [formGroup]="form"
      *ngIf="!!cards$"
    >
      <input
        formControlName="formInput"
        type="checkbox"
        class="custom-control-input"
        [id]="'customSwitch' + description.name"
      />
      <label
        class="custom-control-label"
        [for]="'customSwitch' + description.name"
      ></label>
    </div>
    <button
      *ngIf="!cards$"
      type="button"
      class="btn btn-outline-primary btn-sm"
      (click)="load()"
    >
      Load
    </button>
  </div>
  <div class="container-fluid" *ngIf="description">
    <code>{{ description.code }}</code>
  </div>
  <div class="container-fluid">
    <div class="row">
      <app-id-card
        class="test"
        *ngFor="let card of cards; trackBy: trackByFn"
        [card]="card"
      ></app-id-card>
    </div>
  </div>

  <div class="container-fluid" *ngIf="description && cards.length > 0">
    <code>{{ description.test }}</code>
  </div>
</div>
